
<h2>Employee Details</h2>
<!-- <div>
    <div>
        <label> <b>Id:</b> </label> {{employee.id}}
    </div>


    <div>
        <label> <b>First Name:</b> </label> {{employee.firstName}}
    </div>


    <div>
        <label> <b>Last Name:</b> </label> {{employee.lastName}}
    </div>


    <div>
        <label> <b>Email:</b> </label> {{employee.email}}
    </div>

    <div>
        <button (click) = "navigateToHome()" class="btn btn-outline-primary btn-sm"> Back </button>
    </div>
</div> -->

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{employee.id}}</th>
            <th>{{employee.firstName}}</th>
            <th>{{employee.lastName}}</th>
            <th>{{employee.email}}</th>
        </tr>

    </tbody>
    </table>

    <div>
        <button (click) = "navigateToHome()" class="btn btn-primary"> Back </button>
    </div>
